<h1>Welcome</h1>
<div class="jumbotron">
    <h1>Memory Sharing</h1>
    <p>
      This is a website used to store memorable events in your life.
      You can create albums related to special events in your life and upload videos and photo related to the album.
      You can decide to share these special memories with special people by sending them friend requests.
      If they accept your invitation, the other users can modify albums but they still have to send you a request that
      gives you the permission to add photos and videos to your friends' events.
      <strong>Because sharing is caring!</strong>
    </p>
    </div>